@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .contact-input{
        @apply outline-none bg-gray-900 rounded-sm border-b text-gray-500 px-6 py-4 border-b-white
        placeholder-[#9cb9ec] transition-all focus:border-green-500/40 focus:text-[#9cb9ec] hover:border-green-500/40 ; 
    }
    .projects-page {
        height: auto;
        overflow: hidden;
    }    
}

@media (min-width: 640px) { /* For screens larger than 640px */
    .responsive-image {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1024px) { /* For screens larger than 1024px */
    .responsive-image {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 1280px) { /* For screens larger than 1280px */
    .responsive-image {
        width: 400px;
        height: 400px;
    }
}